<style>
   .sectioncareeer2{
            height: 100%;
/*             max-width: 1400px; */
/*             margin: auto; */
            width: 100%;
           /* border:2px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
  .line{
    width:50%;
    border: 1px solid black;
  }
  .headingad{
/*       font-size: 50px; */
            font-weight: 700;
            color: black;
            /* text-align: center; */
/*             padding-bottom: 20px; */
            font-family: Saira Condensed;
            font-family: Saira Condensed;
font-size: 60px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.12em;
text-align: left;
}
        .sectioncareeer2 .left{
            height: 100%;
            width: 43%;
            display: flex;
            justify-content: center;
            align-items: center;
/*             padding: 0% 2%; */
/*             padding-left: 20px; */
       
        }
        .sectioncareeer2 .left img{
            /* height: 100%; */
            width: 100%;
            /* object-fit: cover; */
          border-radius: 12px;
        }
        .sectioncareeer2 .right{
            height: 100%;
            /* border: 2px solid red; */
            width: 50%;
        
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 2%;
            gap: 25px;
        }
        .sectioncareeer2 .right h1{
/*             font-size: 60px;
            font-weight: 700;
            color: black;
            text-align: center;
/*             padding-bottom: 20px; 
            font-family: Saira Condensed;
            font-family: Saira Condensed;
font-size: 60px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.12em;
text-align: left; */
margin: 0;
        }
        .sectioncareeer2 .right p{
            font-size: 20px;
            font-weight: 500;
            color: black;
            /* text-align: center; */
/*             padding-bottom: 20px; */
            font-family: Saira Condensed;
/* font-size: 30px; */
font-weight: 400;
line-height: 47px;
letter-spacing: 0.1em;
text-align: left;
font-family: 'Saira Condensed', sans-serif !important;
    /* text-align: center; */
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 2px;
        }
  .lineup{
    width: 100%;
  }

        /* make this responsive  */
        @media only screen and (max-width: 600px){
            .sectioncareeer2{
            flex-direction: column-reverse;
              margin: 0;
              margin-bottom: -70px;
            }
            .sectioncareeer2 .right{
                width: 100%;
                height: 50%;
                padding-right: 0;
                padding-top: 0;
            }
            .sectioncareeer2 .left img{
                margin-bottom: 20px;
            }
            .sectioncareeer2 .left{
                width: 100%;
                height: 50%;
                padding: 0;
                padding-left: 20px;
    padding-right: 9px;
            }
            .sectioncareeer2 .right h1{
                font-size: 30px;
                line-height: 30px;
              text-align: center;
            }
            .sectioncareeer2 .right p{
                font-size: 15px;
                line-height: 15px;
                            text-align: center;

            }
          
          .line{
              width: 96%;
          }
          .lineup{
                padding: 0px 37px;
          }
          
        }
  
</style>




        <section class="sectioncareeer2 contain-site-width">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/WhatsApp_Image_2023-11-09_at_6.55.42_AM.jpg?v=1699543003" alt=""></div>
            <div class="right">
                <h1 class="headingad">WHY WORK AT <b style="color:#D32541"> MERCURYS?</b></h1>
            <div  class="lineup">
                <div class="line"></div>
            </div>
              <p>
                    Joining the Mercurys Coffee team means becoming part of a close-knit family. We believe in nurturing a positive work environment that fosters personal and professional growth. </p>
            </div>
        </section>
        

{% schema %}
  {
    "name": "career-Section-2",
    "settings": [],
    "presets": [
      {
        "name": "career-Section-2"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}