<style>
         .sectioncareer4{
                height: 100%;
                width: 100%;
                /* border: 2px solid black; */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 30px;
            }
            .sectioncareer4 h1{
                font-family: Saira Condensed;
font-size: 60px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0.12em;
text-align: center;
text-transform: uppercase;
margin-bottom: 50px;
              color: black;
            }
            .sectioncareer4 .inner{
                height: 760px;
                width: 100%;
                max-width: 1180px;
                margin: auto;
                /* border: 2px solid black; */
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }
            .sectioncareer4 .inner  .innerright{
                width: 100%;
                height: 100%;
                /* border: 2px solid red; */
            display: flex;
            flex-direction: column;
            gap: 30px;
            }
            .sectioncareer4 .inner  .innerleft{
                width: 25%;
                height: 100%;
                /* border: 2px solid red; */
background: #A4001A;
border-radius: 15px;
display: flex;
flex-direction: column;
padding: 20px;
            }
            .sectioncareer4 .inner  .innerleft  .imgsec::before{
                /* image  */
                content: url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/qua.png?v=1689778085);
                position: absolute;
                padding-left: 70px;
    padding-top: 115px;
            }
            .sectioncareer4 .inner  .innerleft .imgsec{
                height: 35%;
                width: 100%;
                /* border: 2px solid red; */
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .sectioncareer4 .inner  .innerleft .imgsec img{
                width: 45%;
            }
            .sectioncareer4 .inner  .innerleft .imgsec h3{
                font-family: Saira Condensed;
font-family: Saira Condensed;
font-size: 35px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.12em;
/* text-align: center; */
text-transform: uppercase;
color: white;
            }
            .sectioncareer4 .inner  .innerleft .imgsec p{
                font-family: Saira Condensed;font-size: 25px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.12em;
/* text-align: center; */
color: white;
text-transform: uppercase;
            }

            .sectioncareer4 .inner  .innerleft .contentsec{
                height: 65%;
                width: 100%;
                /* border: 2px solid red; */
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            
            .sectioncareer4 .inner  .innerleft .contentsec p{
                font-family: saira Condensed;
font-size: 21px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.12em;
text-align: center;

color: white;
            }
            .sectioncareer4 .inner .innerright .up{
                height: 50%;
                width: 100%;
                /* border: 2px solid red; */
background: #D32541;
border-radius: 15px;
padding: 20px;
            }
            .sectioncareer4 .inner .innerright .down{
                height: 46%;
                width: 100%;
                /* border: 2px solid red; */
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center;
            }
            
           .sectioncareer4 .inner .innerright .down .down1{
                height: 100%;
                width: 50%;
                /* border: 2px solid pink; */
                background: #222D65;
                display: flex;
                gap: 30px;
                border-radius: 15px;
                padding: 20px;
                flex-direction: column;
            }
            .sectioncareer4 .inner .innerright .down .down1 .imgsec::before{
                /* image  */
                content: url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/qua.png?v=1689778085);
                position: absolute;
                margin-top: -84px;
    margin-left: -260px;
    /* top: 47%;
    left: 16%; */
            }
            .sectioncareer4 .inner .innerright .down .down1 .imgsec{
                height: 60%;
                width: 100%;
                /* border: 2px solid pink; */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .sectioncareer4 .inner .innerright .down .down1 .imgsec img{
                width: 19%;
                  position: relative;
    top: 13px;
            }
            .sectioncareer4 .inner .innerright .down .down1 .imgsec h3{
                font-family: Saira Condensed;
font-size: 35px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.12em;
/* text-align: center; */
text-transform: uppercase;
color: white;
            }
            .sectioncareer4 .inner .innerright .down .down1 .imgsec p{
                font-family: Saira Condensed;
font-size: 25px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.12em;
/* text-align: center; */
color: white;
text-transform: uppercase;
            }

            .sectioncareer4 .inner .innerright .down .down1 .contentsec{
                height: 50%;
                width: 100%;
                /* border: 2px solid pink; */
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            .sectioncareer4 .inner .innerright .down .down1 .contentsec p{
                font-family: saira Condensed;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.1em;
text-align: center;
color: white;
            }
            .sectioncareer4 .inner .innerright .down .down2{
                height: 100%;
                width: 50%;
                /* border: 2px solid pink; */
background: #19212E;
                display: flex;
                gap: 30px;
                border-radius: 15px;
                padding: 14px;
                flex-direction: column;
            }
            .sectioncareer4 .inner .innerright .down .down2 .imgsec::before{
                /* image  */
                content: url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/qua.png?v=1689778085);
                position: absolute;
                margin-top: -84px;
    margin-left: -260px;
            }
            .sectioncareer4 .inner .innerright .down .down2 .imgsec{
                height: 60%;
                width: 100%;
                /* border: 2px solid pink; */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .sectioncareer4 .inner .innerright .down .down2 .imgsec img{
                width: 19%;
                  position: relative;
    top: 13px;
            }
            .sectioncareer4 .inner .innerright .down .down2 .imgsec h3{
                font-family: Saira Condensed;
font-size: 35px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.12em;
/* text-align: center; */
text-transform: uppercase;
color: white;
            }
            .sectioncareer4 .inner .innerright .down .down2 .imgsec p{
                font-family: Saira Condensed;
font-size: 25px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.12em;
/* text-align: center; */
color: white;
text-transform: uppercase;
            }

            .sectioncareer4 .inner .innerright .down .down2 .contentsec{
                height: 40%;
                width: 100%;
                /* border: 2px solid pink; */
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            .sectioncareer4 .inner .innerright .down .down2 .contentsec p{
                font-family: saira Condensed;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.1em;
text-align: center;

color: white;
            }


            .sectioncareer4 .inner2{
                height: 350px;
                width: 100%;
                max-width: 1180px;
                margin: auto;
                /* border: 2px solid black; */
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }
            
          
            .sectioncareer4 .inner .innerright .up .imgsec{
                height: 35%;
                width: 100%;
                /* border: 2px solid red; */
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                margin-bottom: 20px;
            }
            .sectioncareer4 .inner .innerright .up .inn{
                display: flex;
                justify-content: center;
    align-items: center;
    gap: 30px;
            }
            .sectioncareer4 .inner .innerright .up .imgsec h3{
                font-family: Saira Condensed;
font-family: Saira Condensed;
font-size: 35px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.12em;
/* text-align: center; */
text-transform: uppercase;
color: white;
            }
            .sectioncareer4 .inner .innerright .up .imgsec p{
                font-family: Saira Condensed;font-size: 25px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.12em;
text-align: center;
color: white;
            }


            .sectioncareer4 .inner .innerright .up .imgsec img{
                height: 80%;
                /* width: 100%; */
                border-radius: 15px;
            }
            .sectioncareer4 .inner .innerright .up .contentsec{
                height: 70%;
                width: 100%;
                /* border: 2px solid red; */
                border-radius: 15px;
            }
            .sectioncareer4 .inner .innerright .up .contentsec p{
font-family: saira Condensed;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.1em;
text-align: left;
color: white;
            }
            .sectioncareer4 .inner .innerright .up .contentsec p b{
                font-family: saira Condensed;
                font-size: 19px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-align: left;
                /* font-weight: 100; */
            }


            .sectioncareer4 .inner2 .inner2left{
                width: 100%;
                height: 100%;
                /* border: 2px solid red; */
                background: #000000;
                /* background: #19212E; */
                display: flex;
                gap: 30px;
                border-radius: 15px;
            }
            .sectioncareer4 .inner2 .inner2right .imgsec::before{
                /* image  */
                content: url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/qua.png?v=1689778085);
                position: absolute;
                margin-top: 250px;
            }
            .sectioncareer4 .inner2 .inner2left .imgsec{
                height: 100%;
                width: 30%;
                /* border: 2px solid red; */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .sectioncareer4 img{
                margin-bottom: 20px;
            }
            .sectioncareer4 .inner2 .inner2left .imgsec img{
                width: 30%;
                border-radius: 15px;
               
            }
            .sectioncareer4 .inner2 .inner2left .imgsec h3{
                font-family: Saira Condensed;
font-size: 35px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.12em;
/* text-align: center; */
text-transform: uppercase;
color: white;
            }

            .sectioncareer4 .inner2 .inner2left .imgsec p{
                font-family: Saira Condensed;
font-size: 25px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.12em;
/* text-align: center; */
color: white;
text-transform: uppercase;
            }

            .sectioncareer4 .inner2 .inner2left .contentsec{
                height: 100%;
                width: 70%;
                /* border: 2px solid red; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                padding: 20px;
            }
            .sectioncareer4 .inner2 .inner2left .contentsec p{
                font-family: saira Condensed;
font-size: 19px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.1em;
text-align: center;
color: white;

            }
             
            


            .sectioncareer4 .inner2 .inner2right{
                width: 52%;
                height: 100%;
                /* border: 2px solid red; */
                background: #15311C;
                /* background: #19212E; */
                display: flex;
                /* flex-direction: column; */
                gap: 30px;
                border-radius: 15px;
            }
            .sectioncareer4 .inner2 .inner2right .imgsec{
                height: 100%;
                width: 30%;
                /* border: 2px solid red; */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .sectioncareer4 .inner2 .inner2right .imgsec img{
                width: 65% !important;
                border-radius: 15px;
               
            }
            .sectioncareer4 .inner2 .inner2right .imgsec h3{
                font-family: Saira Condensed;
font-size: 35px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.12em;
/* text-align: center; */
text-transform: uppercase;
color: white;
            }

            .sectioncareer4 .inner2 .inner2right .imgsec p{
                font-family: Saira Condensed;
font-size: 25px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.12em;
text-align: center;
color: white;
text-transform: uppercase;
            }

            .sectioncareer4 .inner2 .inner2right .contentsec{
                height: 100%;
                width: 70%;
                /* border: 2px solid red; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                padding: 20px;
            }
            .sectioncareer4 .inner2 .inner2right .contentsec p{
                font-family: saira Condensed;
font-size: 19px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.1em;
text-align: center;
color: white;

            }

    .imgrel{
                position: relative;     width: 286px;
                          height: 290px !important;
            }

            /* make this mobile responsive  */
            @media only screen and (max-width: 800px){
                .sectioncareer4 h1{
                    font-size: 30px !important;
                    line-height: 30px !important;
                }
                .sectioncareer4 h3{
                    font-size: 25px !important;
                    line-height: 20px !important;
                }
                .sectioncareer4 p{
                    font-size: 15px !important;
                    line-height: 15px !important;
                }
                .sectioncareer4 p b{
                    font-size: 15px !important;
                    line-height: 15px !important;
                }
                .sectioncareer4{
                    gap: 10px !important;
                }
                .sectioncareer4 .inner{
                    height: 100% !important;
                    flex-direction: column;
                    gap: 10px !important;
                    padding: 10px;
                }
                .sectioncareer4 .inner .innerright{
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    gap: 10px;
                    /* height: 400px; */
                    /* padding-top: 20px; */
                    /* padding-bottom: 20px; */
                }
                .sectioncareer4 .inner .innerright .up{
                    height: 100%;
                    width: 100%;
/*                     border: 2px solid black; */
                    background: #D32541;
                    border-radius: 15px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .sectioncareer4 .inner .innerright .up .imgsec{
                    height: 100% !important;
                    width: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* flex-direction: column; */
                    gap: 10px;
                }
                .sectioncareer4 .inner .innerright .up .imgsec img{
                    width: 50%;
                    height: 50%;                  
                }
              .sectioncareer4 .inner .innerright .up .imgsec img.imgrel{
                display: none;
              }
                .sectioncareer4 .inner .innerright .up .imgsec .inn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                    flex-direction: column;
                    width: 100%;
                }
                .sectioncareer4 .inner .innerright .up .contentsec{
                    height: 80% !important;
                    width: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .imgrel{
                    position: relative;     width: 186px;
                          height: 190px !important;
                }


                .sectioncareer4 .inner .innerright .down{
                    height: 100%;
                    width: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .sectioncareer4 .inner .innerright .down .down1{
                    height: 100%;
                    width: 100%;
                    /* border: 2px solid pink; */
                    background: #222D65;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border-radius: 15px;
                    padding: 10px;
                }
                .sectioncareer4 .inner .innerright .down .down1 .imgsec{
                    
                    width: 100%;
                    /* border: 2px solid pink; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* flex-direction: column; */
                    gap: 10px;
                }
                .sectioncareer4 .inner .innerright .down .down1 .imgsec img{
                    width: 50%;
                }
                .sectioncareer4 .inner .innerright .down .down1 .imgsec::before{
                    display: none;
                }
                .sectioncareer4 .inner .innerright .down .down2 .imgsec::before{
                    display: none;
                }
                .sectioncareer4 .inner .innerright .down .down1 .contentsec{
                    height: auto !important;
                    width: 100%;
                    /* border: 2px solid pink; */
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .sectioncareer4 .inner .innerright .down .down2{
                    height: 100%;
                    width: 100%;
                    /* border: 2px solid pink; */
                    background: #19212E;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border-radius: 15px;
                    padding: 10px;
                }
                .sectioncareer4 .inner .innerright .down .down2 .imgsec{
                 
                    width: 100%;
                    /* border: 2px solid pink; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* flex-direction: column; */
                    gap: 10px;
                }
                .sectioncareer4 .inner .innerright .down .down2 .imgsec img{
                    width: 50%;
                }
                .sectioncareer4 .inner .innerright .down .down2 .contentsec{
                    height: auto !important;
                    width: 100%;
                    /* border: 2px solid pink; */
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .sectioncareer4 .innerleft{
                    width: 80% !important;
                    height: 100% !important;
                    padding: 10px;
                    /* border: 2px solid red; */
                    background: #A4001A;
                    /* background: #19212E; */
                    display: flex;
                    /* flex-direction: column; */
                    gap: 10px !important;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }

                .sectioncareer4 .innerleft .imgsec{
                    height: 250px !important;
                    width: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                .sectioncareer4 .innerleft .imgsec img{
                    width: 50%;
                }
                .sectioncareer4 .innerleft .contentsec{
                    height: 250px !important;
                    width: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                }
                

                .inner2{
                    height: 100% !important;
    width: 100%;
    flex-direction: column;
    gap: 10px !important;
    padding: 10px;
                }
                .inner2 .inner2left{
                    width: 100% !important;
                    height: 100%;
                    padding: 10px;
                    /* border: 2px solid red; */
                    background: #000000;
                    /* background: #19212E; */
                    display: flex;
                    /* flex-direction: column; */
                    gap: 10px !important;
                    border-radius: 15px;
                      align-items: center;
                      margin-top: -19px;
                }
                .inner2 .inner2left .imgsec{
                    height: 100%;
                    width: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                .inner2 .inner2left .imgsec img{
                    width: 65% !important;
                    border-radius: 15px;
                   
                }
               
                .inner2 .inner2left .contentsec{
                    height: 100%;
                    width: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    padding: 20px;
                }

                .inner2 .inner2right{
                    width: 100% !important;
                    height: 100%;
                    padding: 10px;
                    /* border: 2px solid red; */
                    background: #15311C;
                    /* background: #19212E; */
                    display: flex;
                    /* flex-direction: column; */
                    gap: 10px !important;
                    border-radius: 15px;
                      align-items: center;
                }
                .sectioncareer4 .inner2 .inner2right .imgsec::before{
                    display: none;
                }              
              .sectioncareer4 .inner2 .inner2left{
                flex-direction: column;
              }
              .sectioncareer4 .inner2 .inner2left .imgsec,
              .sectioncareer4 .inner2 .inner2left .contentsec{
                width: 100%;
                padding: 0;
              }
              .sectioncareer4 .inner2 .inner2left .imgsec img{
                width: 50% !important;
              }
            }
</style>




   <section class="sectioncareer4">
            <h1>employee <b style="color: #D32541;">testimonials</b></h1>
            <div class="inner">
                <div class="innerright">
                    <div class="up">
                        <div class="imgsec">
                          <div class="inn">
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/em1.png?v=1689779907" alt="">
                            <div  >  <h3>lydia</h3> <p>Area manager</p></div>
                          </div>
                          <img class="imgrel" src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/qua.png?v=1689778085" alt="">
                        </div>
                        <div class="contentsec">
                            <p><b>I got hired by Mercurys directly out of college. I was lost, lonely, unhappy and as in search of a community. I would have never predicted  the direction that it would take me.</b><br> <br>Mercurys has given me the closest relationships I’ve eve experienced and will tay far beyond my years of coffee. Mercurys has given me financial stability but most importantly has taught me the lesson to always look at the glass half full, and to love and embrace people every single day. I’ve done a lot for Mercurys, but it will most certainly never live up to what Mercurys has done for me. I have found myself and I have found my tribe!</p>
                        </div>
                    </div>
                    <div class="down">
                        <div class="down1">
                            <div class="imgsec">
                                <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/em3.png?v=1689779907" alt="">
                                <h3>matt</h3>
                                <p>Warehouse lead</p>
                            </div>
                            <div class="contentsec">
                                <p>Working here at Mercurys Coffee has been incredibly rewarding. I’ve learned about the coffee industry and the Mercurys family has been amazing to work with!”</p>
                            </div>
                        </div>
                        <div class="down2">
                            <div class="imgsec">
                                <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/em4.png?v=1689779907" alt="">
                                <h3>sara</h3>
                                <p>Executive pastry chef</p>
                            </div>
                            <div class="contentsec">
                                <p>I’ve been working with Mercurys for a year now. I absolutely love the people and work I get to do here. The leadership team is top notch. I’ve enjoyed the last year being able to be a part of such a fast paced  booming, growing company and community!”</p>
                            </div>
                        </div>
                    </div>
                </div>
<!--                 <div class="innerleft">
                    <div class="imgsec">
                        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/em2.png?v=1689779907" alt="">
                        <h3>hope</h3>
                        <p>manager</p>
                    </div>
                    <div class="contentsec">
                        <p>I started working for Mercurys about a year ago. in search of  workplace that could see my value, and I found just what I was looking for! I was recently promoted to Manager after the amazing opportunities and trainings Mercurys gave me. I also found a wonderful community within somethigng I am very passionate about, coffe”</p>
                    </div>
                </div> -->
            </div>
            <div class="inner2">
                <div class="inner2left">
                    <div class="imgsec">
                        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/em5.png?v=1689779907" alt="">
                        <h3>taylor</h3>
                        <p>Manager</p>
                    </div>
                    <div class="contentsec">
                        <p>Mercurys is by far the greatest job for those who enjoy making others smile and brightening someone’s day. There’s always room for growth whether it’s just in location or throughout the company. No matter where life takes me, I am always brought right back to the place I love the most; serving our wonderful customers.”</p>
                    </div>
                </div>
<!--                 <div class="inner2right">
                    <div class="imgsec">
                        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/em6.png?v=1689779908" alt="">
                        <h3>katie</h3>
                        <p>Assistant manager</p>
                    </div>
                    <div class="contentsec">
                        <p>Ever since I was hired I felt so supported and begin my Mercurys journey. Training was very thorough and I was welcomed in so kindly by my manager and always feel as If I am appreciated for my hard work. Never before has a job brought me the kind of fulfillment along with the challenge to do my best that everyone needs to be proud of what they do</p>
                    </div>
                </div> -->
            </div>
        </section>

{% schema %}
    {
    "name": "career-Section-4",
    "settings": [],
    "presets": [
      {
        "name": "career-Section-4"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}