<style>
   .sectionad{
/*             margin: 50px; */
/*         margin-top: 70px;        margin-bottom: 70px; */
/*             font-family: 'Saira Condensed', sans-serif !important; */
        }
        .sectionad h1{
            font-size: 50px;
              font-family: 'Saira Condensed', sans-serif !important;
            text-align: center;
          color:black;
            padding-top: 5vh;
            font-weight: 100;
/*             text-transform: uppercase; */
             font-size: 50px;
          font-weight: 100;
    margin: 0 0 0.1em;
    line-height: 48px;
                    margin-bottom: 50px;
/*                   color: black !important; */
                  letter-spacing: 2px;
                      font-family: 'Saira Condensed', sans-serif !important;
          font-family: Saira Condensed;
font-size: 60px;
/* font-weight: 700; */
line-height: 66px;
letter-spacing: 0.07em;
text-align: center;

font-family: Saira Condensed;
font-size: 60px;
/* font-weight: 400; */
line-height: 66px;
letter-spacing: 0.07em;
text-align: center;

        }
        .sectionad h1 span{
            color: #D32541;
            font-weight: 800;
              font-family: 'Saira Condensed', sans-serif !important;
        }

        .sectionad p{
            font-size: 20px;
            text-align: center;
           width: 90%;
/*               font-family: 'Saira Condensed', sans-serif !important; */
              margin: auto;
              text-transform: capitalize;
          
                     font-family: 'Saira Condensed', sans-serif !important;
/*                     text-align: center; */
                 font-size: 20px;
    line-height: 25px;
                 letter-spacing: 2px;
/*                      margin: 0 0 0.9375em 0; */
                 color: black;
        }
  .sectionad p b{
    color: #D32541;
  }
        @media screen and (max-width: 768px) {
            .sectionad{
                margin: 10px;
            }
            .sectionad h1{
                font-size: 30px;
              line-height: 35px;
            }
            .sectionad p{
                font-size: 15px;
                width: 90%;
            }

          }
</style>


   <section class="sectionad contain-site-width">
                    <h1> Welcome to the  <span>Mercurys Coffee Community !</span></h1>
                            <p>At <b>Mercurys Coffee,</b> We Believe That Great Coffee Is Best Enjoyed In The Company Of Passionate Individuals Like You. Our Vibrant Community Brings Together Coffee Lovers, Employees, Loyal Customers, And Coffee Enthusiasts From All Walks Of Life. Together, We Celebrate The Art Of Brewing And The Joy It Brings. Explore The Following Sections To Get A Glimpse Into Our Community's Spirit.</p>
                        </section>

{% schema %}
  {
    "name": "community-Section-4",
    "settings": [],
    "presets": [
      {
        "name": "community-Section-4"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}