<style>
   .section3{
/*             margin: 50px; */
/*             max-width: 1500px; */
/*             margin: auto; */
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            /* border: 2px solid black; */
            overflow: hidden;
/*          font-family: 'Saira Condensed', sans-serif !important; */
        }

 

        @media screen and (max-width: 1008px) {
            .section3{
                flex-direction: column;
            }
            .section3 img{
                width: 97%;
/*                 margin: 10px; */
            }
          .hh{
            height: 100%;
          }
          }
</style>



 <section class="section3 contain-site-width">
                    <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/2.png?v=1689003992" alt>
                    <img class="hh" src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/4.png?v=1689003992" alt>
                    <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/3.png?v=1689003992" alt>
                </section>


{% schema %}
 {
    "name": "community-Section-2",
    "settings": [],
    "presets": [
      {
        "name": "community-Section-2"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}