<style>
   .section5{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
/*                 max-width: 1500px; */
/*                 margin: auto; */
                width: 100%;                
             }
  .section5 img{
    width: 33.33%;
  }

             @media screen and (max-width: 800px) {
                .section5{
                    flex-direction: column;
                    padding: 10px;
                }  
                .section5 img{
                    width: 100%;
                }              
             }
</style>



<section class="section5 contain-site-width">
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/6.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/7.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/8.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/9.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/10.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/11.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/12.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/13.png?v=1689005096" alt>
                            <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/14.png?v=1689005096" alt>
                        </section>

                        
{% schema %}
  {
    "name": "community-Section-5",
    "settings": [],
    "presets": [
      {
        "name": "community-Section-5"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}