<style>
      .drinksec1 p{
            font-family: Saira Condensed;
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.12em;
text-align: left;
color: white;
        }
        .miandrinkmenu{
            width: 100%;
            height: 100%;
            background-color: black;
            /* background: url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/Group_178.png?v=1689858079);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center; */
        }
        .miandrinkmenu .inner{
            max-width: 1180px;
            width: 100%;
            height: 100%;
            /* border: 2px solid red; */
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 70px;
            padding-bottom: 50px;
            overflow: hidden;
        }
        .miandrinkmenu .mianheading h1{
            font-family: Saira Condensed;
font-size: 60px;
font-weight: 700;
line-height: 85px;
letter-spacing: 0.04em;
text-align: center;
color: white;
          margin: 0;
        }
        .miandrinkmenu .mianheading p{
 font-family: Saira Condensed;
font-size: 30px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.12em;
text-align: center;
color: white;
        }
        .miandrinkmenu .head{
            padding: 15px;
            background-color: white;
        }
        .miandrinkmenu .head h5{
            font-family: Saira Condensed;
font-size: 30px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0.055em;
text-align: center;
              margin: 0;
        }
        .drinksec1{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            /* border: 2px solid red; */
        }
        .drinksec1 .left{
            width: 50%;
            height: 100%;
            /* border: 2px solid red; */
            display: flex;
            flex-direction: column;
            gap: 35px;
            padding-right: 20px;
        }
        .drinksec1 .right{
            width: 50%;
            height: 100%;
            padding-left: 20px;
            /* border: 2px solid red; */
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
        .drinksec1 .left h1{
            font-family: Saira Condensed;
font-size: 60px;
font-weight: 700;
line-height: 85px;
letter-spacing: 0.1em;
text-align: left;
color: #D32541;
              margin: 0;
        }
  
        .drinksec1 .right h1{
            font-family: Saira Condensed;
font-size: 60px;
font-weight: 700;
line-height: 85px;
letter-spacing: 0.1em;
color: #D32541;
              margin: 0;
text-align: left;}

/* make this responsive */
@media only screen and (max-width: 600px) {
     .miandrinkmenu .mianheading h1{
        font-size: 30px;
        line-height: 40px;

     }
        .miandrinkmenu .mianheading p{
        font-size: 15px;
        line-height: 20px;
        }
        .miandrinkmenu p{
        font-size: 12px;
        line-height: 15px;
        }
        .miandrinkmenu .head h5{
            font-size: 15px;
            line-height: 20px;
        }
        .drinksec1 .left{
            padding: 10px;
        }
        .drinksec1 .right{
            padding: 10px;
        }
        .drinksec1 .left h1{
            font-size: 30px;
            line-height: 40px;
        }
        .drinksec1 .right h1{
            font-size: 30px;
            line-height: 40px;
        }
  
}
     
  
</style>



     <section class="miandrinkmenu">
            <div class="inner contain-site-width ">

                <div class="mianheading">
                    <h1>
                        D R I N K <b style="color: #D32541;">M E N U</b>
                    </h1>
                    <p>AVAILABLE AT ALL LOCATIONS</p>
                </div>
                <div class="head">
                    <h5>HOT DRINKS: 8oz, 12oz, 16oz, 20oz, 24oz</h5>
                </div>
                <section1 class="drinksec1">

                    <div class="left">
                        <h1>CLASSIC</h1>
                        <p>
                            <b>
                                LATTE OR CAPPUCCINO
                            </b> <br>
                            Our Organic Espresso & Velvety Milk.
                            <br>
                            <br>

                            <b>
                                VANILLA LATTE
                            </b> <br>
                            Organic Espresso & Monin Vanilla w/ Velvety Milk.
                            <br>
                            <br>

                            <b>
                                SIGNATURE MOCHA
                            </b> <br>
                            Our Single Origin Chocolate & Organic Espresso.

                            <br>
                            <br>

                            <b>
                                CARAMEL MACCHIATO
                            </b> <br>
                            Monin Caramel Sauce & Vanilla w/ Organic Espresso &
                            Caramel Drizzle.
                            <br>
                            <br>

                            <b>
                                WHITE CHOCOLATE MOCHA
                            </b> <br>
                            White Chocolate, Espresso & Whip Cream.
                            <br>
                            <br>

                            <b>
                                WHITE CHOCOLATE AMERICANO
                            </b> <br>
                            White Chocolate, Organic Espresso & Steaming Water.
                            <br>
                            <br>

                            <b>
                                ORGANIC AMERICANO
                            </b> <br>
                            Organic Espresso & Steaming Water.</p>
                    </div>
                    <div class="right">
                        <h1>SIGNATURE</h1>

                        <p>

                            <b>
                                CARAMEL SILK
                            </b> <br>
                            White Chocolate & Salted Caramel.
                            <br><br>

                            <b>
                                BLONDE HAWAIIAN
                            </b><br>
                            White Chocolate, Macadamia Nut & Real Coconut.
                            <br><br>

                            <b>
                                THE BEES KNEES
                            </b><br>
                            Honey, Cinnamon & a dash of Brown Sugar.
                            <br><br>

                            <b>
                                FUSION MOCHA
                            </b><br>
                            White Chocolate & Milk Chocolate Fusion.
                            <br><br>

                            <b>
                                MEXICAN MOCHA
                            </b><br>
                            Cocoa Liqueur, Vanilla & Cinnamon Spiced Mocha.
                            <br><br>

                            <b>
                                WHITE RUSSIAN
                            </b><br>
                            White Chocolate & Coffee Liqueur Flavored Breve.
                            <br><br>

                            <b>
                                DUBLIN CREAM
                            </b><br>
                            Irish Cream & Vanilla Breve
                        </p>

                    </div>
                </section1>

                <section1 class="drinksec1">
                    <div class="left">
                        <h1>TEA LATTE</h1>
                        <p>

                            <b>
                                ESPRESSO CHAI LATTE
                            </b> <br> Spicy sweet black Tea, Organic Espresso,
                            Velvty milk
                            <br><br>

                            <b>
                                CHAI TEA LATTE
                            </b> <br> Spicy Sweet Black Tea, Honey, Vanilla &
                            Velvety milk
                            <br><br>

                            <b>
                                THE BEES KNESS TEA LATTE
                            </b> <br> Organic Black Tea, Honey, Cinamon &
                            Velvety Milk.
                            <br><br>

                            <b>
                                MATCHA TEA LATTE
                            </b> <br> Shade Grown Japanese Green Tea with Velvey
                            Milk.
                            <br><br>

                            <b>
                                ORGANIC RISHI TEA
                            </b> <br> Premium Organic Teas (8 Selections) - HOT
                            or ICED
                        </p>
                    </div>
                    <div class="right">
                        <h1>TEA CREATIONS</h1>
                        <p>
                            <b>
                                ORGANIC TROPICAL GREEN TEA
                            </b> <br> Organic Green Tea, Mango, Passion Fruit &
                            Agave - ICED.
                            <br><br>
                            <b>
                                STARBUST TEA
                            </b> <br> Ginger Peach Tea, Orange Juice & Rasberry
                            - ICED.
                            <br><br>
                            <b>
                                BLUE-POM BLACK TEA
                            </b> <br> Organic Black Tea with Blueberry &
                            Pomegranate- ICED
                        </p>
                    </div>
                </section1>

                <div class="head">
                    <h5>ICE & BLENDED: 12oz, 16oz, 24oz, 32oz</h5>
                </div>

                <section1 class="drinksec1">
                    <div class="left">
                        <h1>ENERGY ELEXIRS</h1>
                        <p>
                            <b>
                                EUPHORIA
                            </b> <br> Blended Pink Lotus Elixir & Red Dragon
                            Fruit.
                            Instagram worthy.
                            <br><br>
                            <b>
                                AFTERGLOW
                            </b> <br> Blue Lotus Elixir with BLue Raspberry.

                            <b><br><br>
                                INCEPTION
                            </b> <br> Red Lotus Elixir, Strawberry Puree,
                            Lemonade & White
                            Peach
                            <br><br>
                            <b>
                                DESERT FIRE
                            </b> <br> Pink Lotus Elixir, Desert Pear, Dragon
                            Fruit &
                            Habanero Lime.
                            <br><br>
                            <b>
                                EWRALD CITY
                            </b> <br> Blue Lotus Elixir, Green Apple, & Blue
                            Respberry

                            <b><br><br>
                                RED BUL SODA
                            </b> <br> Red Bull & Your Choice of flavor Over ICe
                            with Cream
                            & Whip Cream.
                        </p>
                    </div>
                    <div class="right">
                        <h1>BLENDED</h1>
                        <p>
                            <b>
                                LATTE OR MOCHA
                            </b> <br> Organic Espresso blended into a decadent
                            version of our classics.

                            <b><br><br>
                                WHITE CHOCOLATE
                            </b> <br> Organic Espresso, White Chocolate & Whip
                            Cream.

                            <b><br><br>
                                CARAMEL SILK
                            </b> <br> Organic Espresso, White Chocolate, Salted
                            Caramel & Whip Cream.

                            <b><br><br>
                                BLONDE HAWAIIAN
                            </b> <br> Organic Espresso, White Chocolate,
                            Macadamia Nut, Real Coconut & Whip Cream.

                            <b><br><br>
                                FUSION MOCHA
                            </b> <br> Our signature white & Single origin
                            Chocolates fused with Whip Cream.
                        </p>
                    </div>
                </section1>

                <section1 class="drinksec1">
                    <div class="left">
                        <h1>SMOOTHIES</h1>
                        <p>

                            <b>
                                STRAWBERRY BANANA
                            </b> <br> Fresh Banana & Strawberry Puree w/ All
                            Natural Whey
                            Protein.
                            <br><br>
                            <b>
                                PEACH MANGO
                            </b> <br> Fresh Mango w/ Peach & Mango Puree & All
                            Natural
                            Whey Protein.
                            <br><br>
                            <b>
                                ESPRESSO CHOCOLATE
                            </b> <br> Organic Espresso & Single Origin Chocolate
                            w/ All
                            Natural Whey Protein
                        </p>
                    </div>
                    <div class="right">
                        <h1>ALTERNATIVES</h1>
                        <p>
                            <b>
                                ITALIAN SODA
                            </b> <br> Club Soda & Choice of flavor with Cream &
                            Whip cream

                            <b><br><br>
                                MEXICAN SPICED
                            </b> <br> Spied mexican Chocolate with Vanilla and
                            Cinnamon.

                            <b><br><br>
                                HOT CHOOCOLATE
                            </b> <br> Singla Origin Chocolate with Velvety Milk
                            & Whip
                            cream.

                        </p>
                    </div>
                </section1>

                <section1 class="drinksec1">
                    <div class="left">
                        <h1>COLD BREW / NITRO</h1>
                        <p>

                            <b>
                                COLD BREW
                            </b> <br>Our Rising Blend, Cold Brewed & Served Over
                            Ice.
                            <br><br>
                            <b>
                                NITRO COLD BREW
                            </b><br>Our Rising Blend, Cold Brewed & Infused with
                            Nitrogen.
                        </p>
                    </div>
                    <div class="right">
                        <h1>KOMBUCHA</h1>
                        <p>
                            <b>SEASONAL FLAVORS</b>
                        </p>
                        <h1>OPTIONAL ITEMS</h1>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <p style="font-weight: bold; width: 50%;">FLAVORS
                                <br> ESPRESSO SHOT
                                <br>ALMOND COCUNUT, SOY, HEMP
                                <br> OAT MILK (ORGANIC OATS)
    
                            </p>
                            <p style="font-weight: bold; width: 50%;">
                            ORGANIC MILK
                               <br> ORGANIC FALVOR
                               <br> WHEY PROTEIN
                              <br>  CHOCOLATE BEANS                                 
                            </p>
                        </div>
                       
                        <p style="color: #D32541;">Organic whole bean coffee: 12oz - $15.99  5 lbs -75.99</p>
                    </div>
                </section1>

            </div>
        </section>


        
{% schema %}
  {
    "name": "drink-Section-1",
    "settings": [],
    "presets": [
      {
        "name": "drink-Section-1"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}