<style>
   .sectionhopme2{
display: flex;
                     height: 100vh;
                     
                     width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)), url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/WhatsApp_Image_2023-11-09_at_6.55.42_AM.jpg?v=1699543003);
         min-height: 450px;
         max-height: 450px;
                }
  .contain-site-width-ad{
    max-width: 1180px;
    margin: auto;
    width: 100%;
  }
                .sectionhopme2 .inner{
                    width: 50%;
                    height: 100%;
                    float: left;
                    /* border: 2px solid black; */
                    display: flex;
                    justify-content: center;
/*                     gap: 40px; */
                    /* align-items: center; */
                    flex-direction: column;
                    /* padding: 25px; */
/*                     padding:0px 35px; */
                    
                }
                   .sectionhopme2 .inner h1{
                    font-size: 70px;
                    font-weight: 700;
                    color: #fff;
                 margin: 0px !important;
                    padding: 20px;
                    padding-bottom: 5px;
                     font-family: 'Saira Condensed', sans-serif !important;
                                     font-weight: 800;
   font-size: 60px;
    margin: 0 0 0.1em;
    line-height: 48px;
                    margin-bottom: 50px;
/*                   color: black !important; */
                  letter-spacing: 3px;
                      font-family: 'Saira Condensed', sans-serif !important;
                }
               .sectionhopme2 .inner p{
                    font-size: 20px;
                    font-weight: 100;
                    color: #fff;
                    padding: 20px;
                                     padding-bottom: 5px;
                 padding-top: 5px;
                     font-family: 'Saira Condensed', sans-serif !important;
/*                     text-align: center; */
                 font-size: 20px;
    line-height: 25px;
                 letter-spacing: 2px;
                     margin: 0 0 0.9375em 0;
                 
                }
              .sectionhopme2  .inner button, .sectionhopme2  .inner a{
                    font-size: 18px;
                   width: 40%;
                    font-weight: 700;
                    color: #fff;
                    padding: 17px;
                                margin-top: 25px;
                    background-color: #000;
                    border: none;
                    outline: none;
                    cursor: pointer;
                text-transform : uppercase;
                     font-family: 'Saira Condensed', sans-serif !important;
                    text-align: center;
                 font-size: 20px;
    line-height: 20px;
                 letter-spacing: 2px;
                 margin-left: 21px;
                text-align: center;
                              text-decoration: none;  
                              display: inline-block;
                }
                   .sectionhopme2 .inner button:hover, .sectionhopme2 .inner a:hover{
                        background-color: #fff;
                        color: #000;
                    }

                    /* make this section responsive */

                    @media screen and (max-width: 800px) {
                        .sectionhopme2{
                              height: 100vh;
                              max-width: 1500px;
                              margin: auto;
                              width: 100%;
                             background-size: cover;
                             background-position: center;
                             background-repeat: no-repeat;
                             background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)), url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/h3.png?v=1689002277);
                         }
                         .sectionhopme2 .inner{
                             width: 100%;
                             height: 100%;
                               padding: 0;
                             float: right;
                             display: flex;
                             justify-content: center;
/*                              gap: 20px; */
                             align-items: center;
                             flex-direction: column;
                         }
                            .sectionhopme2 .inner h1{
                                 font-size: 30px;
                                 font-weight: 700;
                                 color: #fff;
                                 padding: 20px;
                              line-height: 30px;
                              letter-spacing: 3px;
                             }
                            .sectionhopme2 .inner p{
                                 font-size: 20px;
                                 font-weight: 700;
                                 color: #fff;
                                 padding: 20px;
                                 text-align: center;
                             }
                            .sectionhopme2  .inner button, .sectionhopme2  .inner a{
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: #fff;
                                    padding: 20px;
                                    background-color: #000;
                                    border: none;
                                    outline: none;
                                    cursor: pointer;
/*                                     width: 90%; */
                              text-align: center;
                              text-decoration: none;  
                              display: inline-block;
                              }
                            .sectionhopme2 .inner button:hover, .sectionhopme2 .inner a:hover{
                                    background-color: #fff;
                                    color: #000;
                                }
                            }

</style>


<div class="sectionhopme2">
  <section class="contain-site-width-ad">
       <div class="inner">
        <h1><span style="color: #D32541;">JOIN</span> OUR TEAM</h1>
        <p>Part-Time, Full-Time.  Entry <br> Level-Management.</p>
        <a href="https://mercurys-coffee.myshopify.com/pages/careers">LEARN MORE</a>
       </div>
    </section>
</div>
     


{% schema %}
 {
    "name": "home-Section-4",
    "settings": [],
    "presets": [
      {
        "name": "home-Section-4"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}