<style>
  .section9{
        width: 100%;
        height: 100%;
        background: url(https://cdn.shopify.com/s/files/1/0529/8647/8778/files/bkpr.png?v=1689089155);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
            padding-bottom: 60px;
      }

      .section9 .innercard{
        width: 350px;
        height: 420px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 15px;
        margin-bottom: 60px;
      }
      .section9 .cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
/*         width: 85%; */
/*         height: 100%; */
/*         max-width: 1500px; */
        margin: auto;
       padding--bottom: 15px;
      }
      .section9 h1{
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding: 40px;
            font-family: 'Saira Condensed', sans-serif !important;
                            font-weight: 800;
   font-size: 65px;
    margin: 0 0 0.1em;
    line-height: 48px;
/*                     margin-bottom: 50px; */
                  color: black !important;
                  letter-spacing: 5px;
                      font-family: 'Saira Condensed', sans-serif !important;
padding-top: 63px;
      }
      .section9 .innercard .up img{
        width: 180px;
        height: 180px;
        position: relative;
        top: -80px;
        left: 20%;
        object-fit: contain;
      }
   @keyframes shake {  
            0% { transform: translate(1px, 1px) rotate(0deg); }
/*             50% { transform: translate(3px, 2px) rotate(0deg); } */
            100% { transform: translate(-1px, 2px) rotate(-1deg); }
            }
           
           
            .section9 .innercard .up img:hover{
                animation: shake 0.4s;
/*                 animation-iteration-count: infinite; */
            }
        .section9 .innercard .up{
            width: 100%;
            height: 15%;
        }

        .section9 .innercard .down{
            width: 100%;
            height: 85%;
            background-color: #F6F3E2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            padding-top: 10px;
          padding-bottom: 30px;
-webkit-box-shadow: 0px 13px 15px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 15px -10px rgba(0,0,0,0.75);
box-shadow: 0px 13px 15px -10px rgba(0,0,0,0.75);
        }
         .section9 .innercard .down h3{
            font-size: 25px;
               margin-top: 40px;
    margin-bottom: 0px;
            font-weight: 600;
            text-transform: uppercase;
           margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Saira Condensed;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.065em;
    text-align: center;
    color: black;
        }
       
        .section9 .innercard .down p{
            font-size: 20px;
            margin-top: 15px;
            font-weight: 600;
        font-family: Saira Condensed;
font-size: 35px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1em;
text-align: center;
color: black;
        }

        .section9 .innercard .down button, .section9 .innercard .down a{
            width: 250px;
            /* height: 50px; */
            margin-top:15px ;
            background-color: #D32541;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
-webkit-box-shadow: 0px 13px 15px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 15px -10px rgba(0,0,0,0.75);
box-shadow: 0px 13px 15px -10px rgba(0,0,0,0.75);
          text-transform: uppercase;
           text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          padding: 8px 20px;
        }
       .section9 .innercard .down button:hover, .section9 .innercard .down a:hover{
            background-color: #D32541;
            opacity: 0.8;
        }
    
        .section9 .innercard .down .but2{
            background-color: black;
            color: white;
        }
        .section9 .innercard .down .but2:hover{
            background-color: white;
            color: black;
            border: 1px solid black;
            opacity: 0.8;
        }

  .shopall{
    margin: 20px 0px;
        margin: auto;
    display: block;
     background-color: black;
            color: white;
     width: 250px;
            height: 50px;
            margin-top:15px ;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
-webkit-box-shadow: 0px 13px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 13px 15px 0px rgba(0,0,0,0.75);
     text-transform: uppercase;
    text-decoration: none;
          text-align: center;
          display: inline-block;
    line-height: 50px;
  }
  .shopall:hover{
    color: #fff;
  }
  .text-center{
    text-align: center;
  }
        @media screen and (max-width: 800px) {
            .section9 h1{
                font-size: 30px;
              line-height: 30px;
              letter-spacing: 3px;
            }
            .section9 .innercard{
                width: 300px;
                height: 350px;
            }
            .section9 .innercard .up img{
                width: 150px;
                height: 150px;
                position: relative;
                top: -60px;
                left: 25%;
            }
           .section9 .cards{
             width:100%;
           }
            .section9 .innercard .down h3{
                font-size: 20px;
            }
            .section9 .innercard .down p{
                font-size: 20px;
            }
            .section9 .innercard .down button{
                width: 150px;
                height: 40px;
                font-size: 15px;
            }
        }
</style>



  <section class="section9">
            <h1>BEST <b style="color: #D32541 ">SELLERS</b></h1>
            <div class="cards contain-site-width ">
              <div class="innercard">
                    <div class="up">
                        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/IMG-1405.png?v=1698414036" alt>
                    </div>
                    <div class="down">
                        <h3>RISING BLEND</h3>
                        <!-- <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/review.png?v=1689089161" alt> -->
                        <p>$17.95</p>
                        <a href="/products/rising">Buy Now</a>
                        <!-- <a href="/collections/100-organic-coffee" class="but2">GO TO CATEGORY</a> -->
                    </div>
                </div>                            
                <div class="innercard">
                    <div class="up">
                        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/IMG-1396.png?v=1698414099" alt>
                    </div>
                    <div class="down">
                        <h3>RISING Decaf</h3>
                        <!-- <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/review.png?v=1689089161" alt> -->
                        <p>$17.95</p>
                        <a href="/products/rising-decaf">Buy Now</a>
                        <!-- <a href="/collections/100-organic-coffee" class="but2">GO TO CATEGORY</a> -->
                    </div>
                </div>                
                <div class="innercard">
                    <div class="up">
                        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/image142.png?v=1690921693" alt>
                    </div>
                    <div class="down">
                        <h3>PLATINUM GIFT CARD</h3>
                        <!-- <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/review.png?v=1689089161" alt> -->
                        <p>$5.00+</p>
                        <a href="/products/platinum-gift-card">Buy Now</a>
                        <!-- <a href="/collections/gift-cards" class="but2">GO TO CATEGORY</a> -->
                    </div>
                </div>
              <div class="innercard">
                  <div class="up">
                      <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/Dash-Black.png?v=1699639663" alt>
                  </div>
                  <div class="down">
                      <h3>DASH</h3>
                      <!-- <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/review.png?v=1689089161" alt> -->
                      <p>$24.95</p>
                      <a href="/products/dash">Buy Now</a>
                      <!-- <a href="/collections/drinkware" class="but2">GO TO CATEGORY</a> -->
                  </div>
              </div>
              <div class="innercard">
                    <div class="up">
                        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/CAMPER_MUG-removebg-preview32.png?v=1690921369" alt>
                    </div>
                    <div class="down">
                        <h3>MERCURYS' FAMOUS GIANT CINNAMON ROLL</h3>
                        <!-- <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/review.png?v=1689089161" alt> -->
                        <p>$15.95</p>
                        <a href="/products/mercurys-famous-giant-cinnamon-roll">Buy Now</a>
                        <!-- <a href="/collections/rising-bakery" class="but2">GO TO CATEGORY</a> -->
                    </div>
                </div>


            </div>
            <div class="text-center">
              <a href="/collections/all" class="shopall">Shop All</a>
            </div>
        </section>




{% schema %}
   {
    "name": "home-product-section",
    "settings": [],
    "presets": [
      {
        "name": "home-product-section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}